

nav{
    background-color: white;
    padding-left:15em ;
    padding-right:10em ;
}
a.navbar-brand{
    color: #6777ef;
}
ul li a.nav-link{
    color: #8c98f3;
    padding-right: 5em;
    font-size: medium;
    
}

ul li {
    padding-right: 2em;
    padding-left: 2em;
    border-right: 1px solid #d1d6fa  ;
}
button{
    margin-left: 5em;
}

